/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


.fa-sun-o{
    color: white !important;
}

body.dark {
    background-color: #292c35 !important;
    .shadow{
        background-color: #292c35 !important;
        h1{
            color: white !important;
        }
        i{
            color: white !important;
        }
    }
    .first-name{
        color: black !important;
    }
    .block{
        color: white !important;
    }
    .cards{
        color: white !important;
    }
    h2{
        color: white !important;
    }
    p{
        color: white !important;
    }
    span{
        color: white !important;
    }
    a{
        color: white !important;
    }
    .card {
        /*height: 200px;*/
        /*background: red;*/
        border: 2px solid #a9a9a9;
        border-radius: 4px;
        padding: .5rem;
        -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
        display: flex;
        /* -webkit-box-orient: vertical; */
        /* -webkit-box-direction: normal; */
        -ms-flex-direction: column;
        flex-direction: column;
        position: relative;
        color: #5d5e5e;
      } 
      .empty-state {
        width: 750px !important;
        margin: 40px auto !important;
        border-radius: 4px !important;
        background: none !important;
        box-shadow: none !important;
      }
}